<header>
    <nav class="d-flex justify-content-between align-items-center navbar navbar-expand-lg">
        <div><h4>Boogey</h4></div>

        <div href="#"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://preview.keenthemes.com/metronic-v4/theme/assets/pages/media/profile/profile_user.jpg" 
            alt="profile-image" 
            class="fluid rounded-circle"
        />
        <i class="fa-sharp fa-solid fa-caret-down" >
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Account</a>
                <a class="dropdown-item" href="#">Sign Out</a>
              </div>
        </i>


        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->

        </div>

        



    </nav>
</header>