header {
    background-color: #85929E  ;
}

nav {
    margin: 0 20px;
}

img {
    height: 35px;
    width: 35px;
}

i {
    color: #ffffff;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    margin-left: 92%;
}